<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background: black;
            font-family: arial;
            text-align: center;
            color: white;
        }

        table {
            background: white;
            color: black;
            margin: auto;
            border-radius: 10px;
        }

        td {
            padding: 15px;
        }

        th {
            padding: 10px;
            background: lightyellow;
        }
    </style>
    <title>Logs</title>
</head>
<body>
    <h2>Logs</h2>
    <img>
    <table>
        <tr>
            <th>time</th>
            <th>msg</th>
        </tr>
        {% for log in logs %}
            <tr>
                <td>{{ log.time }}</td>
                <td>{{ log.msg }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>